In [0]:
catalog = "hive_metastore"
schema = "default"
table = "my_managed_table"

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Step 2: Define Schema for the Table
dataschema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), False),
    StructField("age", IntegerType(), False),
    StructField("city", StringType(), False)
])

# Step 3: Create Sample Data
data = [
    (1, "Alice", 25, "New York"),
    (2, "Bob", 30, "San Francisco"),
    (3, "Charlie", 35, "Los Angeles"),
    (4, "David", 40, "Chicago"),
    (5, "Eve", 28, "Houston"),
    (6, "Frank", 33, "Phoenix"),
    (7, "Grace", 29, "Seattle"),
    (8, "Hank", 42, "Miami"),
    (9, "Ivy", 31, "Denver"),
    (10, "Jack", 36, "Boston")
]

# Step 4: Create DataFrame
df = spark.createDataFrame(data, schema=dataschema)
df.write.mode("overwrite").option("overwriteSchema", "true").format("delta").saveAsTable(f"{catalog}.{schema}.{table}")

In [0]:
spark.sql(f"TRUNCATE TABLE {catalog}.{schema}.{table};")

In [0]:
spark.sql("DROP SCHEMA default4 CASCADE")